.topBar {
    position: fixed;
    z-index: 10;
    width: 100%;
    background: black;
    color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.6em 0;

    a {
        color: #efefef;
        text-decoration: none;
        font-weight: bold;
        width: 100%;
        height: 100%;

        &:hover {
            color: #666;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    li {
        padding: 0.5em 1em;
    }

    @media (max-width: 768px) {
        position: static;
        justify-content: space-around;
    }
}

.topBarNav {
    @media (max-width: 768px) {
        display: none;
    }
}

.topBarBrand {
    display: flex;
    align-items: center;
    gap: 0.6em;

    @media (min-width: 769px) {
        display: none;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 1em;
        }
    }
}
