.contactCard {
    background: white;
    padding: 2em;
    border-radius: 8px;
    border: 1px solid #eee;
    margin-top: 1em;
}

.contactItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.contactItemName {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: -0.5em;
    text-align: center;
}

.contactItem a {
    text-decoration: none;
    font-weight: 600;
    color: #333;
}
